<div class="container">
  <div class="row">
      <header>
        <h1><span>Esqueci Minha</span> Senha</h1>
        <h4>Será enviado um e-mail para recuperação da senha.</h4>
      </header>
  </div><!-- /row -->
</div><!-- /container -->

<div class="container">
  <div class="row">
    <form ng-submit="signup(registerFormData)" ng-init="registerFormData = {}" name="registerForm">

      <div>
        <input type="email" name="email" placeholder="Seu e-mail cadastrado*" ng-model="email" ng-minlength="3" ng-maxlength="45" required>
        <!-- validations-container -->
        <div ng-messages="registerForm.email.$error" ng-show="registerForm.email.$touched">
          <span ng-message="required">O campo email está vazio.</span>
          <span ng-message="minlength">O campo email está muito curto.</span>
          <span ng-message="maxlength">O campo email está muito longo.</span>
          <span ng-message="email">Informe um email válido.</span>
        </div><!-- /validations-container -->
      </div><!-- /input-container -->

      <div>
        <button type="submit" ng-click="send_password_instructions(email)">Recuperar</button>
      </div>

    </form>
  </div>
</div>
