
  <div class="container">
    <div class="row">
      <header class="section-title">
        <h1><span>Alterar</span> Senha</h1>
      </header>
    </div><!-- /row -->
  </div><!-- /container -->

    <div class="container">
      <div class="row">

        <form ng-submit="reset_password(resetPasswordFormData)" name="resetPasswordForm">

          <div>
            <input type="password" name="password" placeholder="Nova Senha*" ng-model="resetPasswordFormData.password" ng-minlength="3" ng-maxlength="65" required>
            <!-- validations-container -->
            <div ng-messages="resetPasswordFormData.password.$error" ng-show="resetPasswordFormData.password.$touched">
              <span ng-message="required">O campo Senha está vazio.</span>
              <span ng-message="minlength">O campo Senha está muito curto.</span>
              <span ng-message="maxlength">O campo Senha está muito longo.</span>
            </div><!-- /validations-container -->
          </div><!-- /input-container -->

          <div>
            <input type="password" name="password_confirmation" placeholder="Repita a Senha*" ng-model="resetPasswordFormData.password_confirmation" ng-minlength="3" ng-maxlength="65" required>
            <!-- validations-container -->
            <div ng-messages="resetPasswordFormData.password_confirmation.$error" ng-show="resetPasswordFormData.password_confirmation.$touched">
              <span ng-message="required">O campo CONFIRMAÇÃO está vazio.</span>
              <span ng-message="minlength">O campo Senha está muito curto.</span>
              <span ng-message="maxlength">O campo Senha está muito longo.</span>
            </div><!-- /validations-container -->
          </div><!-- /input-container -->

          <div>
            <button type="submit">Alterar</button>
          </div>

        </form>

      </div><!-- /row -->
  </div><!-- /container -->
